
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('client_inscription'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}
        <fieldset>
    <h1>Compte Client</h1>    
        {{ form_widget(form) }}
        </fieldset>
    <p class="signin button">
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </p>
{{ form_end(form) }}

